.section {
  padding: 70px 0;
  background: #fff7f0;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.grid {
  margin-top: 40px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 0 20px;
}

.card {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.tag {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 8px 15px;
  background: #ffffffcc;
  border-radius: 5px;
  font-weight: 700;
}
