.cardBox {
  padding: 10px;
}

.imageWrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  border-radius: 12px;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  gap: 8px;
}

.caption h5 {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 600;
}

.shopbtn {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  text-decoration: underline;
  color: white;
}

/* PREMIUM BADGE (Recommended) */
.premium {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  background: linear-gradient(#b11226, #8e0e1e);
  border: 1.5px solid #e7c87c;
  border-radius: 40px;
  width: 55%;
  padding: 9px 0px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  box-shadow: 0 0 0 3px #b11226, 0 0 0 4.5px #e7c87c, 0 4px 14px #00000040;
}

/* GOLD SIDE CURVES */
.premium::before,
.premium::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background: #b11226;
  border: 1.5px solid #e7c87c;
  border-radius: 50%;
  transform: translateY(-50%);
}

.premium::before {
  left: -12px;
}

.premium::after {
  right: -12px;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  display: block;
}

/* SOFT BLACK-TO-TRANSPARENT SHADOW */
.shadowOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  /* adjust fade height */
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.58),
      /* darker bottom */
      rgba(0, 0, 0, 0.28),
      rgba(0, 0, 0, 0.08),
      rgba(0, 0, 0, 0)
      /* totally transparent top */
    );
  pointer-events: none;
}

/* ================= MOBILE OVERRIDE ONLY ================= */

/* Disable slick spacing effect on mobile */
@media (max-width: 800px) {

  .mobileScroll {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
  }

  .mobileScroll::-webkit-scrollbar {
    display: none;
  }

  .mobileCard {
    flex: 0 0 40%;
    scroll-snap-align: start;
  }

  /* prevent card shrink */
  .mobileCard>* {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .mobileCard {
    flex: 0 0 80%;
  }
}