.wrapper {
    /* max-width: 820px; */
    margin: 80px auto;
    margin-top: 40px;
    /* padding: 0 20px; */
  }
  
  /* Main Heading */
  .heading {
    font-size: 34px;
    font-weight: 700;
    color: #5b0f2d;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Intro line */
  .intro {
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  /* Content Sections */
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 20px;
    font-weight: 600;
    color: #5b0f2d;
    margin-bottom: 10px;
  }
  
  .section p {
    font-size: 16px;
    line-height: 1.8;
    color: #444;
  }
  
  /* Simple list */
  .list {
    padding-left: 18px;
  }
  
  .list li {
    font-size: 16px;
    line-height: 1.8;
    color: #444;
  }
  
  /* Mobile */
  @media (max-width: 600px) {
    .heading {
      font-size: 26px;
    }
  
    .intro {
      font-size: 14px;
    }
  }
  