@font-face {
  font-family: "Allrounder Grotesk Test Bold";
  src: url("../../public/fonts/AllrounderGroteskTest-Bold.otf")
    format("opentype");
  font-display: swap; /* 👈 important */
}

@font-face {
  font-family: "Allrounder Grotesk Test Regular";
  src: url("../../public/fonts/AllrounderGroteskTest-Regular.otf")
    format("opentype");
  font-display: swap; /* 👈 important */
}

@font-face {
  font-family: "Allrounder Grotesk Test Meduim";
  src: url("../../public/fonts/AllrounderGroteskTest-Medium.otf")
    format("opentype");
  font-display: swap; /* 👈 important */
}

html,
body {
  width: auto;
  max-width: 1520px;
  margin: 0 auto;
  background-color: #fafafa !important;
  color: black;
  font-family: "Allrounder Grotesk Test Regular" !important;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}
.pageWithFixedNavbar {
  padding-top: 72px; 
}

.standard-padding {
  padding: 35px 120px;
}
.heading{
    font-size: 28px;
    color: #5b0f2d;
    text-align: center;
}
@media (max-width: 1280px) {
  .standard-padding {
    padding: 35px 90px;
  }
}
@media (max-width: 1024px) {
  .standard-padding {
    padding: 30px 90px;
  }
}

@media (max-width: 768px) {
  .standard-padding {
    padding: 30px 40px;
  }
}

@media (max-width: 600px) {
  .standard-padding {
    padding: 22px 20px;
  }
}