/* SAME STRUCTURE AS PACKAGES */

.packagesBox {
  padding: 35px 115px;
}

.customPeaceOfMindDiv {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.staycationPeaceHead{
  font-weight: 900;
  font-size: 32px;
}

.customSliderArrows {
  font-weight: 100;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #5b0f2d;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #5b0f2d;
  color: white;
  transition: all 0.3s ease-in-out;
}

.customSliderIcon1 {
  margin-left: 3px;
}

.customSliderIcon2 {
  margin-left: 2px;
}

.packagesContainer {
  width: 100%;
}

.packageItemdiv {
  padding: 0 10px;
}

.packageItem {
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  background: white;
  padding: 12px;
  box-shadow: 0px 4px 18px #00000008;
}

/* REVIEW CARD STYLE */

.reviewCard {
  text-align: center;
}

.reviewImgWrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 12px auto;
  position: relative;
}

.reviewImg {
  object-fit: cover;
}

.stars {
  color: #f4b400;
  margin-bottom: 8px;
}

.star {
  margin: 0 2px;
}

.reviewText {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  margin-bottom: 8px;
}

.reviewName {
  font-size: 14px;
  font-weight: 600;
  color: #5b0f2d;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .packagesBox {
    padding: 25px 70px;
  }
}

@media (max-width: 800px) {
  .packagesBox {
    padding: 25px 35px;
  }
}
