.breadcrumbWrapper {
  font-size: 13px;
  color: #777;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.link {
  color: #555;
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: 600;
}

.link:hover {
  color: #000;
}

.separator {
  color: #aaa;
}

.current {
  color: #555;
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: 600;
}
